*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
captures
.externalNativeBuild
.cxx
local.properties
tmp/
docs/
*.apk
*.aab
*.hprof
*.log
/internal/
sync-tests/.venv/
sync-tests/secrets/
sync-tests/classes.dex
sync-tests/tmp_ss.png
sync-tests/debug/*.xml
sync-tests/.pytest_cache/
.pytest_cache/
__pycache__/
